html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    title File Transfer
    |   
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    |   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    |
    //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    style
      include ../css/sty.css
  |   
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') Home
      |   
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navb')
        span.navbar-toggler-icon
      |   
      #navb.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/guide') Guide
          li.nav-item
            a.nav-link(href='/upload') Upload
          li.nav-item
            a.nav-link(href='/chat') Chat
          li.nav-item
            a.nav-link(href='#' onclick='openForm()') PopUp
          li.nav-item
            if per == 1   
              a.nav-link(href='/Rregister') Register
          li.nav-item
            if !searchR
              a.nav-link.down-arrow(href='#bottom', data-toggle='tooltip', title='TO BOT')
                span.fa.fa-chevron-down
        |     
        form.form-inline.my-2.my-lg-0(action='/cerca', method='GET')
          input.form-control.mr-sm-2(type='text', placeholder='Search', name='ricerca')
          |       
          button.btn.btn-success.my-2.my-sm-0(type='submit') Search
    br
    .container
      .row
        .col-md-6.m-auto
          if !err
            if !searchR
              form(action='/send', method='POST', enctype='multipart/form-data')
                h3(class='text-center display-4 my-4') #{msg}
                .row
                  .col-md-9.m-auto
                    |                 
                    label(for='file', class='custom-file-label') Scegli il File
                    br
                    input(type='file', ngf-select='', ng-model='exFile', name='file', id = 'file', class='custom-file-input', required=' ')
                  .col-md-3.m-auto
                    select.browser-default.custom-select(name ='sList',id='sList')
                      option(value = '',disabled selected hidden) Tipo
                      |   
                      option(value='armaniCassa') Guide Armani cassa
                      |   
                      option(value='armaniPos') Guide Armani Pos
                      |   
                      option(value='versaceCassa') Guide Versace Cassa
                      |   
                      option(value='versacePos') Guide Versace Pos
                    br
                    br
                  script
                    include ../js/scri.js
                  |       
                  | #{ok}
                  br
                  |       
                  input(type='submit', value='Carica', class='btn btn-primary btn-block')
          br
          if !err
            hr
          br
          | #{err}
          if err
            hr
          if searchR
            - var verifica = 0
            if searchR[0] == undefined
              - verifica = 1
              h4 nessun file trovato
              br
              hr
            each file in searchR
              if file !== undefined
                .card.card-bosy.mb3
                  if file.isImage
                    - var url = file.filename
                    img(src='/image/' + url + '')
                  else
                    - var url = file.filename
                    .icons
                      img(src = '/fileType/' + url + '', class='icon') 
                      |
                      | #{file.metadata.original}
                  .row
                    if per == 1
                      .col-sm-6
                        .card-footer
                          - var id = file._id
                          - var nome = file.metadata.original
                          form(action='/files/del/' + id + '', method='post')
                            button.btn.btn-danger
                              i.glyphicon.glyphicon-ban-circle
                                |  Remove
                    .col-sm-6
                      .card-footer
                        - var name = file.filename
                        form(action='files/download/' + name + '', method='post')
                          button.btn.btn-primary
                            i.fa.fa-download
                              |  Download                
          else  
            if files
              each file in files
                .card.card-bosy.mb3
                  if file.isImage
                    - var url = file.filename
                    img(src='/image/' + url + '')
                  else
                    - var url = file.filename
                    .icons
                      img(src = '/fileType/' + url + '', class='icon') 
                      |
                      | #{file.metadata.original}
                .row
                  if per == 1
                    .col-sm-6
                      .card-footer
                        - var id = file._id
                        - var nome = file.metadata.original                        
                        form(action='/files/del/' + id + '', method='post')
                          button.btn.btn-danger
                            i.glyphicon.glyphicon-ban-circle
                              |  Remove
                  .col-sm-6
                    .card-footer
                      - var name = file.filename
                      form(action='files/download/' + name + '', method='post')
                        button.btn.btn-primary
                          i.fa.fa-download
                            |  Download
            else
              if !err
                p.description Nessuna Foto Caricata
          .row
            br
            hr
            .col-sm-4
              form(action='/logout', method='POST')
                br
                input(type='submit', value='LogOut', class='btn btn-primary')            
            .col-sm-4
            .col-sm-4
            if searchR
              form(action='/')
                br
                input(type='submit', value='Annulla', class='btn btn-primary')
    #myForm.chat-popup
      div
        a.myA(href='/chat' style='color:white') Fullscreen
        i.fa.fa-times.myFa(onclick='closeForm()' aria-hidden='true' style ='right: 20px')            
    .footer.text-center
      if !err
        if !searchR
          hr
          a.up-arrow(href='#', data-toggle='tooltip', title='TO TOP',  id ='bottom')
            span.fa.fa-chevron-up
      br
      br
      |   
      p
        | Made By  
        a(href='#', data-toggle='tooltip') FT

    script
      include ../js/scri.js
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')